<section id="LiveReferrersWrapper">	

	<div id="LiveReferrersChart" style="margin-top:10px;">
	</div>
	
</section>
<script type="text/javascript">
  $(document).ready(function () {
    require('piwik/LiveReferrers').initSimpleRealtimeLiveReferrersWidget({{ 20 }});
  });
</script>
